# Data and Vectors (The heavy stuff)
data/
vectors/
lancedb_vectors/
*.csv
*.xlsx
*.zip

# Environment and Keys
.env
venv/
.venv/
__pycache__/
.pytest_cache/

# Mac/Windows clutter
.DS_Store
Thumbs.db

# other unnecessary files
history/
documentation/
tests/
